<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <!-- <app-lst-produt-type></app-lst-produt-type> -->
        <!-- <mat-list>
                <h3 mat-subheader>Folders</h3>
                <mat-list-item *ngFor="let item of items">
                    <img src="{{item}}" />
                </mat-list-item>
            </mat-list> -->
            <!-- <div class="image-sub-wrapper" style="width: 15%;display: inline-block;">
                <span class="sub-item" style="
                                             height: 100%;
                                             cursor: pointer;
                                             border-radius: 3px;
                                             border: 1px solid #ececec;
                                             padding: 5px;
                                             display: inline-block;
                                             margin-top: .5rem;
                                             margin-left: 1rem" *ngFor="let item of product.img_small_size.split(';')">
                        <img [src]="item" (onClick)="selectImage(item)">
                </span>
            </div> -->
            {{product.img_small_size}}
            <!-- <div class="zoomContainer" style="display: inline;"> -->
                <!-- <img [src]="https://salt.tikicdn.com/cache/w1200/ts/product/ed/59/90/dbb02d5332621df9b6632d846236e132.jpg" style="width: 80%; "/> -->
                <!-- <img [src]="itemSelected" style="width: 80%; "/> -->
                <!-- <img [imageZoom]="itemZoomed" [src]="itemSelected" [style.width.px]="400" [style.height.px]="400">
            </div> -->
    </mat-sidenav>
    <!-- <mat-sidenav-content>
        <mat-card>
            <mat-card-content>
                <h3>Điện Thoại iPhone XR (64GB) - Hàng Chính Hãng</h3>
                <p>Sản phẩm nhập khẩu nguyên khối</p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                    <mat-list>
                            <mat-list-item *ngFor="let prop of props">
                              <mat-icon mat-list-icon>folder</mat-icon>
                              <h4 mat-line>{{prop}}</h4>
                            </mat-list-item>
                    </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content> -->
  </mat-sidenav-container>
  <!-- <mat-card>
        <mat-card-header class="product-detail-infor">
                <mat-card-title>Thông tin chi tiết</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
                <mat-list>
                        <mat-list-item *ngFor="let prop of props">
                          <mat-icon mat-list-icon>folder</mat-icon>
                          <h4 mat-line>{{prop}}</h4>
                        </mat-list-item>
                </mat-list>
        </mat-card-content>
   </mat-card>

   <mat-card>
        <mat-card-header class="product-detail-infor">
                <mat-card-title>Mô tả sản phẩm</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <h3>Hãy xem video để có những suy nghĩ</h3>
                <h3>Hãy xem video để có những suy nghĩ</h3>
                <h3>Hãy xem video để có những suy nghĩ</h3>
                <h3>Hãy xem video để có những suy nghĩ</h3>
                <iframe width="800" height="515" style="margin-left: 20rem;" src="https://www.youtube.com/embed/9m_K2Yg7wGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </mat-card-content>
   </mat-card> -->
