.example-container {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    /* height: 500px; */
  }

.mat-sidenav {
    width: 55%;
}

.mat-sidenav-content {
    background: #fff;
}


.mat-figure {
    margin-top: 1rem;
}

.mat-grid-tile {
    height: 100%;
}

/* figure.mat-figure{
    display: inline-block !important;
} */

::ng-deep mat-grid-tile.mat-grid-tile .mat-figure  {
    display: inline-block;
}

h4::before {
    content: "•"; 
    color: red;
    padding-right: 1rem;
}

.btn-cart {
    background-color: brown; 
    color: white
}

.btn-view {
    margin-left:0.4rem;
}

.product-detail-infor {
    background-color: blanchedalmond; 
    border: 1px solid #ececec; 
    padding: 0.5rem;
}