<mat-sidenav-container class="example-containerr">
        <mat-sidenav mode="side" opened>
            <!-- <mat-list>
                <h3 mat-subheader>Folders</h3>
                <mat-list-item *ngFor="let item of items">
                    <img src="{{item}}" />
                </mat-list-item>
            </mat-list> -->
            <div class="image-sub-wrapper" style="width: 15%;display: inline-block;">
                <span class="sub-item" style="
                                             height: 100%;
                                             cursor: pointer;
                                             border-radius: 3px;
                                             border: 1px solid #ececec;
                                             padding: 5px;
                                             display: inline-block;
                                             margin-top: .5rem;
                                             margin-left: 1rem" *ngFor="let item of items">
                        <!-- <img src="{{item}}" /> -->
                        <!-- <img [imageZoom]="itemZoomed" [src]="item" (onClick)="selectImage(item)"> -->
                        <img [src]="item" (onClick)="selectImage(item)">
                </span>
            </div>
            <div class="zoomContainer" style="display: inline;">
                <!-- <img [src]="https://salt.tikicdn.com/cache/w1200/ts/product/ed/59/90/dbb02d5332621df9b6632d846236e132.jpg" style="width: 80%; "/> -->
                <!-- <img [src]="itemSelected" style="width: 80%; "/> -->
                <img [imageZoom]="itemZoomed" [src]="itemSelected" [style.width.px]="400" [style.height.px]="400">
            </div>
        </mat-sidenav>
        <mat-sidenav-content>            
                <mat-grid-list cols="1" rowHeight="30%">
                        <mat-grid-tile>
                            <p>Header</p><br><br><br><br><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <p>Content</p><br><br><br><br><br>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <p>Cart</p><br><br><br><br><br>
                        </mat-grid-tile>
                      </mat-grid-list>
        </mat-sidenav-content>
    </mat-sidenav-container>