<mat-sidenav-container class="example-containerr">
    <mat-sidenav mode="side" opened>
        <!-- <mat-list>
            <h3 mat-subheader>Folders</h3>
            <mat-list-item *ngFor="let item of items">
                <img src="{{item}}" />
            </mat-list-item>
        </mat-list> -->
        <div class="image-sub-wrapper" style="width: 15%;display: inline-block;">
            <span class="sub-item" style="
                                         height: 100%;
                                         cursor: pointer;
                                         border-radius: 3px;
                                         border: 1px solid #ececec;
                                         padding: 5px;
                                         display: inline-block;
                                         margin-top: .5rem;
                                         margin-left: 1rem" *ngFor="let item of items">
                    <img src="{{item}}" />
            </span>
        </div>
        <div class="zoomContainer" style="display: inline;">
            <img src="https://salt.tikicdn.com/cache/w1200/ts/product/ed/59/90/dbb02d5332621df9b6632d846236e132.jpg" style="width: 80%; "/>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>            
           <h1>asaa</h1>
           <h1>asaa</h1>
           <h1>asaa</h1>
           <h1>asaa</h1>
           <h1>asaa</h1>
           <h1>asaa</h1>
           <h1>asaa</h1>
           <h1>asaa</h1>
           <h1>asaa</h1>
    </mat-sidenav-content>
</mat-sidenav-container>
  <!-- <h1>Hello world</h1> -->
  <script type="javascript" src="">
        https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.2/css/magnify.css
  </script>