<button mat-button routerLinkActive="active current">
  <mat-icon mat-list-icon style="margin-top: -0.2rem; margin-right: .2rem;">home</mat-icon><a routerLink="/">Home</a>
</button>
<!-- <mat-menu #menu1="matMenu">
  <button mat-menu-item>Item 11</button>
  <button mat-menu-item>Item 21</button>
</mat-menu> -->
<button mat-button routerLinkActive="active current">
  <mat-icon mat-list-icon style="margin-top: -0.2rem; margin-right: .2rem;">group</mat-icon><a routerLink="/about">About</a>
</button>
<button mat-button routerLinkActive="active current">
  <mat-icon mat-list-icon style="margin-top: -0.2rem; margin-right: .2rem;">subtitles</mat-icon><a routerLink="/follower">Followers</a>
</button>
<mat-icon mat-list-icon class="ico-search">search</mat-icon>
<div class="search-area">
    <input type="text" placeholder="Search" id="txt-search">
</div>
<!-- <mat-menu #menu2="matMenu">
  <button mat-menu-item>Item 12</button>
  <button mat-menu-item>Item 22</button>
</mat-menu> -->