<button mat-button (click)="comeToHomePage()"><mat-icon mat-list-icon style="margin-top: -0.2rem; margin-right: .2rem;">home</mat-icon>Home</button>
<!-- <mat-menu #menu1="matMenu">
  <button mat-menu-item>Item 11</button>
  <button mat-menu-item>Item 21</button>
</mat-menu> -->
<button mat-button (click)="comeToAboutPage()"><mat-icon mat-list-icon style="margin-top: -0.2rem; margin-right: .2rem;">group</mat-icon>About</button>
<button mat-button (click)="getListFollowers()"><mat-icon mat-list-icon style="margin-top: -0.2rem; margin-right: .2rem;">subtitles</mat-icon>Followers</button>
<mat-icon mat-list-icon class="ico-search">search</mat-icon>
<div class="search-area">
    <input type="text" placeholder="Search" id="txt-search">
</div>
<!-- <mat-menu #menu2="matMenu">
  <button mat-menu-item>Item 12</button>
  <button mat-menu-item>Item 22</button>
</mat-menu> -->