<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="mat-app-background basic-container">
  <app-menu-component></app-menu-component>
</div>
<router-outlet></router-outlet>
<!-- <span class="version-info">Current build: 7.0.1</span> -->
<footer>
  <div class="container">
      <!-- <div class="footerLogo"><img src="favicon.ico"/></div> -->
    <div class="copyright">Design by @Hellomotor Team</div>
    <div class="copyright">© Agra Culture Kitchen & Press. All Rights Reserved.</div>
  </div>
</footer>
<!-- <app-table></app-table> -->