<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <app-lst-produt-type></app-lst-produt-type>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Product new arrivals -->
        <h3><mat-icon mat-list-icon class="new-arrival">new_releases</mat-icon>New arrivals</h3>
        <angular-image-slider [images]="imagesUrl"></angular-image-slider>
        <button mat-stroked-button (click)="comeToHomePage()" style="display: block; top:1rem; margin-left: 35rem; font-size: .7rem">Show more>></button>
        <!-- <a mat-button routerLink=".">Show more>></a> -->

        <!-- Hot product -->
        <h3 class="space-up-025"><mat-icon mat-list-icon class="whats-hot">whatshot</mat-icon>Hot product</h3>
        <mat-grid-list cols="3" rowHeight="380px">
                <mat-grid-tile *ngFor="let tile of tiles">
                    <a href="detail/{{tile.id}}"><img  src="{{tile.img_small_size}}"></a>
                     <p>{{tile.name}}</p>
                     <p>{{tile.nation}}</p>
                     <p>{{tile.price_sell}}</p>
                     <div class="prd-action">
                        <button mat-stroked-button class="btn-cart">Add to cart</button>
                        <button mat-stroked-button class="btn-view">View</button>
                     </div>
                     
                </mat-grid-tile>
        </mat-grid-list>
        <button mat-stroked-button (click)="comeToHomePage()" style="display: block; top:1rem; margin-left: 35rem; font-size: .7rem; margin-bottom: 2rem">Show more>></button>
    </mat-sidenav-content>
  </mat-sidenav-container>