.example-container {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    /* height: 500px; */
  }

.mat-sidenav {
    width: 20%;
}

.mat-sidenav-content {
    background: #fff;
}

h3 {
    display: inline-block;
    margin-left: 1.25rem; 
    color: #da6b63;
    border-bottom: 1px solid #d2c7c7;
}

.new-arrival .whats-hot{
    color: red; 
    padding-right: 0.2rem
}

.space-up-025 {
    margin-top: 2rem;
}


.mat-figure {
    margin-top: 1rem;
}

.mat-grid-tile {
    height: 100%;
}

/* figure.mat-figure{
    display: inline-block !important;
} */

::ng-deep mat-grid-tile.mat-grid-tile .mat-figure  {
    display: inline-block;
}

mat-grid-list {
    margin-left: 2rem;
    margin-top: 1rem;
}

.subcription-container {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #2262b50f;
}
.sub-title {
    font-size: 0.6rem;
    font-style: italic;
}

.subcription-input {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#sub-email::placeholder {
    font-size: 0.1rem!important;
    font-style: italic;
}

#sub-email {
    width: 20rem !important;
    margin-right: 1rem
}

.copyright {
    text-align: right;
    margin-top: 0.7rem;
    font-style: italic;
    margin-right: 1rem;
    font-size: .6rem;
}

.mat-drawer-content {
    overflow: hidden;
}

.btn-cart {
    background-color: brown; 
    color: white
}

.btn-view {
    margin-left:0.4rem;
}